.testimonialcarousel-trust {
  width: 90%;
  margin: 4px auto;
  display: flex;
  overflow: hidden;
  gap: 1rem;
  border-radius: 20px;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.testimonial-card {
  flex: 0 0 auto;
  width: 320px;
  height: fit-content;
  padding: 24px;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.08);
  transition: all 0.3s ease;
}


.group-trust {
  display: flex;
  gap: 1rem;
  animation: scroll 35s linear infinite;
}

.testimonialcarousel-trust:hover .group-trust {
  animation-play-state: paused;
}

/* Tablet */
@media (max-width: 768px) {
  .testimonial-card {
    width: 280px;
    height: 220px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .testimonial-card {
    width: 250px;
    height: 230px;
    padding: 18px;
  }
}