
@import "tailwindcss";

body{
  background-color: #51385F;
}

.ring {
  transform-style: preserve-3d;
}

.ring img {
  backface-visibility: hidden;
}

:root {
  --heading-font: "Playfair Display", serif;
  --body-font: "Inter", sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--heading-font);
  font-weight: 700;
}

body,p,span,li,a{
  font-family: var(--body-font);
  font-weight: 400;
}