
@import "tailwindcss";

@font-face {
  font-family: "Barabara";
  src: url("./assets/font/font1.woff") format("woff");
}

@font-face {
  font-family: "font2";
  src: url("./assets/font/font2.ttf") format("truetype");
}

@font-face {
  font-family: "font3";
  src: url("./assets/font/font3.otf") format("opentype");

}

body {
  overflow-x: hidden;
  background:
    radial-gradient(
      circle at 15% 20%,
      rgba(111, 78, 130, 0.25) 0%,
      transparent 35%
    ),
    radial-gradient(
      circle at 85% 75%,
      rgba(81, 56, 95, 0.35) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(145, 95, 170, 0.18) 0%,
      transparent 50%
    ),
    linear-gradient(
      180deg,
      #5A4069 0%,
      #51385F 20%,
      #3E2B4B 55%,
      #24172D 100%
    );

  background-attachment: fixed;
}

.ring {
  transform-style: preserve-3d;
}

.ring img {
  backface-visibility: hidden;
}


h1,h2,h3,h4,h5,h6{
  font-family: "font2";
  letter-spacing: 2px;
  line-height: 1.1;
  text-transform: uppercase;
}

p,span,li,a{
  font-family: var(--body-font);
  font-weight: 400;
}

